/* Variable elements */
@header-font: 'Lato', Helvetica, sans-serif;
@content-font: sans-serif;
@content-gutter: 40px;
@sidebar-width: 240px;
@sidebar-gutter: @content-gutter;
@bg-color: #FFF;
@content-color: #222;
@accent-content-color: lighten(@content-color, 20%);
@light-content-color: lighten(@content-color, 40%);
@header-color: #222;
@link-color: #000;
@link-color-hover: #CC0000;
@border-color: #DDD;
@border: 1px solid @border-color;

/* Layout */
body, input { background: @bg-color; color: @content-color; font-family: @content-font;}
h1, h2, h3, h4, h5, h6 { 
    font-family: @header-font;
    &a {
        font-family: @header-font;    
    }
}
a, a:visited, a:active { 
    color: @link-color; 
    border-bottom: @border; 
    text-decoration: none; 
    
    &:hover {
        color: @link-color-hover;
        text-decoration: none;
    }
}

.center { text-align: center; }
.right  { text-align: right; }
.left   { text-align: left; }
.float-right  { float: right; }
.float-left   { float: left; }

#sidebar { 
    position: fixed; top: 0; left: 0; bottom: 0; 
    width: @sidebar-width - (@sidebar-gutter * 2); 
    padding: @sidebar-gutter; 
    padding-top: 0;
    border-right: @border; 
    
    h2      { margin-top: 10px; }
    span    { font-size: 16px; }
}
#poweredby { display: block; position: absolute; bottom: @content-gutter; font-size: 0.85em; }

#content { 
    margin-left: @sidebar-width + 1; 
    
    header { 
        padding: (@content-gutter / 2) @content-gutter; 
        border-bottom: @border;
        
        span { color: @accent-content-color; font-size: 16px; }
    }
}

#posts {  }
#posts article { padding: @content-gutter; border-bottom: @border; position: relative; }
#posts article h2 { margin-bottom: @content-gutter / 2; font-size: 35px; }
#posts article .subline { margin-bottom: @content-gutter; }
#posts article p {  }
#posts article .date { width: 175px; font-size: 13px; color: @light-content-color; }
#posts article .tags { display: inline-block; zoom: 1; *display: inline; margin-left: 50px; font-size: 11px; }

#admin .col h1, #admin .col h2 { position: relative; text-transform: uppercase; font-family: @header-font; }
#admin .col h1 a,#admin .col h2 a { position:absolute; top:0; right:0; font-size:12px; padding:2px 10px; line-height:2.7em; margin:5px 0 0}
#admin .col { width: 360px; padding: 20px; }
#admin .col h2 a{background:#999}
#admin .col h2 a:hover { background:#cc0000 }
#admin .col ul { padding: 0; }
#admin .col ul li { border-bottom: @border; padding: 15px 0; position: relative; }
#admin .col ul li:hover .links { visibility: visible; }
#admin .col ul li .links { position: absolute; right: 0; top: 14px; background: #fff; padding: 1px 8px; visibility: hidden; }
#admin .col ul li .links a { color: #999; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#admin .col ul li .links a:hover { color: #cc0000; }
#admin .col ul li h3 { margin: 0; font-size: 16px; max-width: 100%; text-overflow: ellipsis; overflow: hidden; font-family: @header-font; }
#admin .col ul li h3 a { border: none; }

#admin { width: 808px; margin: 0 auto; position: relative; }
#admin #drafts { float: left; border: 4px solid #000; border-top: none; background: #fff; margin: 0 0 20px 0; padding-top: 10px; }
#admin #drafts h1 { font-size: 35px; margin-top: 23px; }
#admin #drafts form { margin: 20px 0 20px -20px; padding: 0 0 0 20px; border-left: 4px solid lightblue; }
#admin #drafts #title { width: 350px; font-size: 16px; font-family: @header-font; line-height: 45px; height: 45px; margin: 0; border: none; border-bottom: 1px solid #ddd; box-shadow: none; -webkit-box-shadow: none; }
#admin #published { float: right; }
#admin #published h2 { color: #999; margin-top: 16px; }
#admin #published h2 a{margin-top:-2px}
#admin #published h3 a{color:#999}

.admin-view { font-size:11px; margin:0 10px 2px 0; font-weight:900; text-transform:uppercase}

#editor { width: 800px; margin: 10px auto 50px auto; }
#editor textarea { min-height: 480px; width: 800px; padding: 15px; border: none; font-size: 16px; }
#editor input { display: block; width: 800px; padding: 15px; height: auto; border: none; border-color: transparent; }
#editor #Post_Title { font-size: 35px; font-weight: 900; }
#editor #Post_Tags { font-size: 16px; }

#publish-bar { position: fixed; bottom: 0; left: 0; background: #222; color: #fff; width: 100%; text-align: center; padding: 15px 0 15px; }
#publish-bar .contain { margin: 0 auto; width: 800px; }
#publish-bar input[type=text] { border: none; border-bottom: 1px solid #333; padding: 2px; width: 220px; font-size: 12px; color: #999; }
#publish-bar .menu.active { background: #fff; color: #000; }
#publish-bar .sub-menu { margin: 0; background: #222; padding: 20px; position: absolute; bottom: 0; left: 60px; visibility: hidden; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#publish-bar .sub-menu.visible { visibility: visible; }
#publish-bar .sub-menu li { margin: 0 0 15px 0; }
#publish-bar input[type=checkbox] { margin: 0; margin-right:10px; }
#publish-bar label {
font-size: 16px;
color: white;
font-weight: bold;
margin: 0 8px 0 0;
display: inline;
}

.button { display: inline-block; background: #000; padding: 8px 12px; font-weight: bold; 
          border: none; color: #fff; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size: 16px; margin-bottom: 0; }
#publish-bar {
    a.admin-link {
        .button;
        &:hover {
            background-color: whiteSmoke;
            background-image: -ms-linear-gradient(top, white, #E6E6E6);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
            background-image: -webkit-linear-gradient(top, white, #E6E6E6);
            background-image: -o-linear-gradient(top, white, #E6E6E6);
            background-image: linear-gradient(top, white, #E6E6E6);
            background-image: -moz-linear-gradient(top, white, #E6E6E6);
            background-repeat: repeat-x;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            border-color: #E6E6E6 #E6E6E6 #BFBFBF;
            border-bottom-color: #B3B3B3;
            color: #555;
        }
    }
    a.delete-link {
        .button;
        background: transparent; 
        font-size: 0.9em;
        padding: 6px 12px;
        &:hover {
            background-color: #DA4F49;
            background-image: -ms-linear-gradient(top, #EE5F5B, #BD362F);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#BD362F));
            background-image: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
            background-image: -o-linear-gradient(top, #EE5F5B, #BD362F);
            background-image: -moz-linear-gradient(top, #EE5F5B, #BD362F);
            background-image: linear-gradient(top, #EE5F5B, #BD362F);
            background-repeat: repeat-x;
            border-color: #BD362F #BD362F #802420;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        }
    }
    a.save-link {
        .button;
        &:hover {
            background-color: #49AFCD;
            background-image: -ms-linear-gradient(top, #5BC0DE, #2F96B4);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#2F96B4));
            background-image: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
            background-image: -o-linear-gradient(top, #5BC0DE, #2F96B4);
            background-image: -moz-linear-gradient(top, #5BC0DE, #2F96B4);
            background-image: linear-gradient(top, #5BC0DE, #2F96B4);
            background-repeat: repeat-x;
            border-color: #2F96B4 #2F96B4 #1F6377;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        }
    }
    a.preview-link {
        .button;
        &:hover {
            background-color: #0074CC;
            background-image: -ms-linear-gradient(top, #08C, #05C);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#05C));
            background-image: -webkit-linear-gradient(top, #08C, #05C);
            background-image: -o-linear-gradient(top, #08C, #05C);
            background-image: -moz-linear-gradient(top, #08C, #05C);
            background-image: linear-gradient(top, #08C, #05C);
            background-repeat: repeat-x;
            border-color: #05C #05C #003580;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        }
    }
    a.publish-link {
        .button;
        &:hover {
            background-color: #5BB75B;
            background-image: -ms-linear-gradient(top, #62C462, #51A351);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62C462), to(#51A351));
            background-image: -webkit-linear-gradient(top, #62C462, #51A351);
            background-image: -o-linear-gradient(top, #62C462, #51A351);
            background-image: -moz-linear-gradient(top, #62C462, #51A351);
            background-image: linear-gradient(top, #62C462, #51A351);
            background-repeat: repeat-x;
            border-color: #51A351 #51A351 #387038;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        }
    }
}

/* OVERRIDES */
.alert { padding-right: 14px; }
.label, .badge { background-color: @border-color; color: @accent-content-color; text-shadow: none; font-weight: normal; padding-top: 2px; }