@model Razr.Web.Models.HomeViewModel
@{
    ViewBag.Title = ViewBag.SiteName;
}
@Html.Partial("_Sidebar")
<div id="content">
    <header>
        <span>@DateTime.Now.ToString("MMMM dd, yyyy").ToUpper()</span>
    </header>
    <section id="posts">
        @foreach (var post in Model.Posts)
        {
            @Html.Partial("_Post", post)
        }
    </section>
</div>
