<div id="admin">
    <div id="drafts" class="col">
        <h1>DRAFTS</h1>
        <form action="/posts" method="post">
            <input type="text" id="post_title" name="post-title" placeholder="Start typing a new idea here..." size="30" />
        </form>
        <ul>
            <li>
                <h3><a href="/post/1/edit">First post</a></h3>
            </li>
        </ul>
    </div>
    <div id="published" class="col">
        <h2>PUBLISHED</h2>
        <ul>
            <li><h3><a href="/post/1/edit">First post</a></h3></li>
        </ul>
    </div>
</div>