@model Razr.Web.Models.AdminViewModel
<div class="container">
    <div class="row">
        <div id="admin">
            <div id="drafts" class="col">
                <h1>DRAFTS</h1>
                <form action="/post/quick" method="post">
                    <input type="text" id="title" name="title" placeholder="Start typing a new idea here..." />
                </form>
                <ul class="unstyled">
                @foreach (var post in Model.Drafts)
                {
                    <li>
                        <h3><a href="/post/@post.Id/edit">@post.Title</a></h3>
                    </li>
                }
                </ul>
            </div>
            <div id="published" class="col">
                <h2>PUBLISHED</h2>
                <ul class="unstyled">
                @foreach (var post in Model.Published)
                {
                    <li>
                        <h3><a href="/post/@post.Id/edit">@post.Title</a></h3>
                    </li>
                }
                </ul>
            </div>
        </div>
    </div>
</div>