@model Razr.Web.Models.AdminViewModel
<div class="container">
    <div class="row">
        <div id="admin">
            <div id="drafts" class="col">
                <h1>DRAFTS</h1>
                <form action="/posts/quick" method="post">
                <input type="text" id="title" name="title" placeholder="Start typing a new idea here..." />
                </form>
                <ul class="unstyled">
                    @foreach (var post in Model.Drafts)
                    {
                        <li id="post-@post.Id">
                            <h3><a href="/posts/@post.Id/edit">@post.Title</a>
                                <span class="links"> 
                                <a href="/posts/@post.Id" class="admin-view">view</a> 
                                <a href="#" class="admin-delete" onclick="deletePost(@post.Id);return false;">x</a>
                                </span>
                            </h3>
                        </li>
                    }
                </ul>
            </div>
            <div id="published" class="col">
                <h2>PUBLISHED <a href="/" class="button">HOME</a> </h2>
                <ul class="unstyled">
                    @foreach (var post in Model.Published)
                    {
                        <li id="post-@post.Id">
                            <h3><a href="/posts/@post.Id/edit">@post.Title</a>
                                <span class="links"> 
                                <a href="/posts/@post.Id" class="admin-view">view</a> 
                                <a href="#" class="admin-delete" onclick="deletePost(@post.Id);return false;">x</a>
                                </span>
                            </h3>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
@section scripts {
<script type="text/javascript">
    $(function () {
        $('#title').focus();
    });

    function deletePost(id) {
        $.post('/posts/' + id + '/delete', function () {
            $('#post-' + id).fadeOut();
        });
    };
</script>
}