<div id="sidebar">
    <a href="/"><img src="@Url.Content("~/content/images/icon.png")" alt="" class="icon" /></a>
    <h2>@ViewBag.SiteName</h2>
    <span>@ViewBag.SiteTitle</span>
    <span id="poweredby">Powered by <a href="https://github.com/carbonrobot/razr">Razr</a></span>
</div>
